{% extends 'base_cricket.html' %}

{% block title %}cricketground1{% endblock title %}
 
{% block body %}
<div class="container my-2" style="margin:0 auto;">
  <img src="static\cg2.jpg" class="img-fluid " alt="...">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Name : Vijayanand Ground</h5>
      <h5 class="card-title">Location : Shivarampally</h5>
      <p class="card-text">Among the top ten grounds available for booking in hyderabad. Situated very close to Mehdipatnam. The ground is well maintained and has a double storey pavilion, ample parking, professionally managed.</p>
      <a href="https://www.google.com/maps/place/Vijay+Anand+Gardens/@17.329738,78.4266981,15z/data=!4m5!3m4!1s0x0:0x6fe33c753f0d4457!8m2!3d17.329738!4d78.4266981" class="btn btn-primary" target="ture"> Ground location</a>
    </div>
  </div>
      <div class="container my-4" style="margin:0 auto;">
          <h1> Description</h1>
          Among the top ten grounds available for booking in hyderabad. Situated very close to Mehdipatnam. The ground is well maintained and has a double storey pavilion, ample parking, professionally managed.
          Among the top ten grounds available for booking in hyderabad. Situated very close to Mehdipatnam. The ground is well maintained and has a double storey pavilion, ample parking, professionally managed.
      </div>
</div>
{% endblock body %}
