{% extends 'base.html' %}

{% block title %} cricket {% endblock title %}
{% block blink%}active{% endblock blink%}
{% block body %} 
<div>Located in outskirts of the city about 15-20 min from Shamshabad. Two grounds adjacent to each other. Both ground has 70 yard boundary and well maintained pitch. Boundary fencing is done all along. Basic amenities available. 1st Ground is equiped with quality flood lights.</div>
<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <a href="cricketg1"><img src="static\cg1.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Name: <strong>DCC Sports Arena </strong></h5>
              <h5 class="card-title"> Location : Madhapur</h5>
   
              <!-- <p class="card-text">Quality football come closer to work. Yes Hotfut franchise opens their new turf in heart of gachibowli, very near to gachibowli flyover beside Sai Gopichand Badminton Academy. Hotfut turf at gachibowli live up to its expectation, the perfect 5 a side turf with excellent quality FIFA approved turf and perfect for high intensity game of football. Lot of open space for parking and moving around the turf. Well maintained rest rooms, Changing room for boys and girls.</p> -->
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <a href="cricketg2"><img src="static\cg2.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Name: <strong>Vijayanand Ground </strong></h5>
              <h5 class="card-title"> Location : Shivarampally</h5>
              <!-- <p class="card-text">The Turf started in July '21 and it is a box cricket and football venue, located  at Miyapur area. Perfect 5 a side for football and 6 a side for box cricket with a special batting pitch in the middle to get the perfect bounce and speed on the wicket. This pitch is unique only to The Turf. There is a Cafe available at venue serving healthy refreshment options as well. Equipment and Washrooms are also available. It's a perfect place to hang out with friends and family, to have get togethers and reunions parties.</p> -->
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <a href="cricketg3"><img src="static\cg3.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Name : <strong>KCR Cricket Ground</strong> </h5>
              <h5 class="card-title">Location : Ghuttapally</h5>
              <!-- <p class="card-text">Located in outskirts of the city about 15-20 min from Shamshabad. Two grounds adjacent to each other. Both ground has 70 yard boundary and well maintained pitch. Boundary fencing is done all along. Basic amenities available. 1st Ground is equiped with quality flood lights..</p> -->
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <a href="cricketg4"><img src="static\cg5.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Name: <strong>Grand Arena Sports County </strong></h5>
              <h5 class="card-title"> Location : Mansanpally</h5>
              <!-- <p class="card-text">Multi Sports venue offering Turf Football suitable for both football and cricket. A separate Box Cricket field, Cricket Nets, Volleyball. Box cricket facility is a natural turf, 8 a side circular shape venue with complete boundary netting. Football can not be played on this. Artificial turf is suiatable for 7 or 8 a side football and box cricket. One of the largest turf avaiable in Hyderabad.
                </p> -->
            </div>
          </div>
        </div>
      </div>
</div>




{% endblock body %}

