{% extends 'base_cricket.html' %}

{% block title %}cricketground1{% endblock title %}
 
{% block body %}
<div class="container my-2" style="margin:0 auto;">
  <img src="static\cg3.jpg" class="img-fluid " alt="...">
  <div class="card w-85">
    <div class="card-body">
      <h5 class="card-title">Name : KCR cricket ground</h5>
      <h5 class="card-title">Location : Ghuttapally</h5>
      <a href="https://www.google.com/maps/place/KCR+Cricket+grounds/@17.1173815,78.3940986,15z/data=!4m5!3m4!1s0x0:0xf1e41504e09f768b!8m2!3d17.1173815!4d78.39" target="ture" class="btn btn-primary"> Ground Location</a>
    </div>
  </div>
      <div class="container my-4" style="margin:0 auto;">
          <h1> Description</h1>
          Located in outskirts of the city about 15-20 min from Shamshabad. Two grounds adjacent to each other. Both ground has 70 yard boundary and well maintained pitch. Boundary fencing is done all along. Basic amenities available. 1st Ground is equiped with quality flood lights.
      </div>
</div>
{% endblock body %}
