{% extends 'base_cricket.html' %}

{% block title %}cricketground1{% endblock title %}
 
{% block body %}
<div class="container my-2" style="margin:0 auto;">
  <img src="static\cg1.jpg" class="img-fluid " alt="...">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Name : <strong> DCC Sports Arena  </strong> </h5>
      <h5 class="card-title"> Location : Madhapur</h5> 
      <a href="https://www.google.com/maps/dir/17.3898361,78.441286/DCC+Sports+Arena/@17.4270071,78.3787586,12.92z/data=!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3bcb937b08a1568"   target="ture" class="btn btn-primary">Ground location</a>
    </div>
  </div>
      <div class="container my-4" style="margin:0 auto;">
          <h1> Description</h1>
          DCC Sports Arena is a open cricket ground conveniently located near Madhapur area. The ground has four batting pitches which are alternated to maintain an optimal playing experience. Outfield is lush green with a 70 yard boundary. There is a large covered pavilion with best occupancy.  A cool drinking water dispenser provides 24/7 water supply. Clean and well maintained changing rooms and restrooms. Ample parking space sufficient to accommodate. Cordial staff who are always ready to help. We look forward to hosting you at GCC Cricket Ground.
      </div>
      <div class="container my-4" style="margin:0 auto;">
        <h3>Amenities</h3>
        <div class="container" >
        <i class="fa fa-check" aria-hidden="true"></i>Pavilion
        <i class="fa fa-check" aria-hidden="true"></i> Washroom
        <i class="fa fa-check" aria-hidden="true"></i>Refreshments 
        <i class="fa fa-check" aria-hidden="true"></i>Changing Room
      </div>
</div>
{% endblock body %}
