{% extends 'base_cricket.html' %}

{% block title %}cricketground1{% endblock title %}
 
{% block body %}
<div class="container my-2" style="margin:0 auto;">
  <img src="static\cg5.jpg" class="img-fluid " alt="...">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Name : Grand Arena Sports County</h5>
      <h5 class="card-title">Location : Mansanpally</h5>
      <a href="https://www.google.com/maps/dir/17.3904334,78.4410889/grand+arena+sports+county/@17.2575338,78.2614823,11z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3bcbb16803f6cccb:0xa2e08ea7dc24f8e5!2m2!1d78.4088981!2d17.1220827" class="btn btn-primary" target="true">Ground Location</a>
    </div>
  </div>
      <div class="container my-4" style="margin:0 auto;">
          <h1> Description</h1>
          A Lush Green Cricket ground with a 65 yard boundary & well laid Turf pitches (5) located in Mansanpally, Maheshwaram. The Cricket ground has sight screens on both sides for White & Red Ball play. The venue also has Two practice nets. The Cricket ground has flood lights for Night matches. Other facility includes an 9000 sq ft swimming pool,  an Indoor Sports hall, with 2 Lane Bowling Alley, Snooker, Table Tennis, Carrom Board & a Tennis Court on a Pay & Use Basis.
      </div>
</div>
  
{% endblock body %}
