{% extends 'groundbase.html' %}
{% block title %}footballground2{% endblock title %}
 
{% block body %}
<div class="container my-2" style="margin:0 auto;">
  <img src="static\playground1.jpg" class="img-fluid " alt="...">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Name: The Turf</h5>
      <h5 class="card-title">Address: Miyapur,Hyderabad</h5>
      <a href="https://www.google.com/maps/dir/17.3904334,78.4410889/The+Turf+Miyapur,Hyderabad/@17.4495568,78.311808,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!" target="true" class="btn btn-outline-dark">Ground Location</a>
    </div>
  </div>
      <div class="container my-4" style="margin:0 auto;">
          <h1> Description</h1>
          The Turf started in July '21 and it is a box cricket and football venue, located  at Miyapur area. Perfect 5 a side for football and 6 a side for box cricket with a special batting pitch in the middle to get the perfect bounce and speed on the wicket. This pitch is unique only to The Turf. There is a Cafe available at venue serving healthy refreshment options as well. Equipment and Washrooms are also available. It's a perfect place to hang out with friends and family, to have get togethers and reunions parties.
      </div>
</div>
{% endblock body %}

