{% extends 'base.html' %}

{% block title %} football {% endblock title %}
{% block blink%}active{% endblock blink%}
{% block body %} 
<div>Located in outskirts of the city about 15-20 min from Shamshabad. Two grounds adjacent to each other. Both ground has 70 yard boundary and well maintained pitch. Boundary fencing is done all along. Basic amenities available. 1st Ground is equiped with quality flood lights.</div>
<div class="container">
  <div class="container my-4">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
           <a href="/footballground1"><img src="static\playground2.jpg" class="card-img-top" alt="..."></a> 
            <div class="card-body">
              <h5 class="card-title">Name : <strong> Hotfut </strong> </h5>
              <h5 class="card-title">Location : Gachibowli</h5>
              <!-- <p class="card-text"> DCC Sports Arena is a open cricket ground conveniently located near Madhapur area. The ground has four batting pitches which are alternated to maintain an optimal playing experience. Outfield is lush green with a 70 yard boundary. There is a large covered pavilion with best occupancy.  A cool drinking water dispenser provides 24/7 water supply. Clean and well maintained changing rooms and restrooms. Ample parking space sufficient to accommodate. Cordial staff who are always ready to help. We look forward to hosting you at GCC Cricket Ground</p> -->
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <a href="/footballground2"><img src="static\playground3.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Name : <strong>The Truf</strong> </h5>
              <h5 class="card-title">Location : Miyapur,Hyderabad</h5>
              <!-- <p class="card-text">Located in outskirts of the city about 15-20 min from Shamshabad. Two grounds adjacent to each other. Both ground has 70 yard boundary and well maintained pitch. Boundary fencing is done all along. Basic amenities available. 1st Ground is equiped with quality flood lights. Located in outskirts of the city about 15-20 min from Shamshabad. Two grounds adjacent to each other. Both ground has 70 yard boundary and well maintained pitch. Boundary fencing is done all along. Basic amenities available. 1st Ground is equiped with quality flood lights.</p> -->
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <a href="/footballground3"><img src="static\playground1.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Name : <strong>Rampage Football Turf</strong> </h5>
              <h5 class="card-title">Location : Filmnagar,Near Tolichowki</h5>
              <!-- <p class="card-text"> Among the top ten grounds available for booking in hyderabad. Situated very close to Mehdipatnam. The ground is well maintained and has a double storey pavilion, ample parking, professionally managed.</p> -->
            </div>
          </div>
        </div>
      
        <div class="col">
          <div class="card">
            <a href="/footballground4"><img src="static\playground.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Name : <strong>Stratos Tightend Arena</strong> </h5>
              <h5 class="card-title">Location: Kukatpally,Hyderabad</h5>
              <!-- <p class="card-text">A Lush Green Cricket ground with a 65 yard boundary & well laid Turf pitches (5) located in Mansanpally, Maheshwaram. The Cricket ground has sight screens on both sides for White & Red Ball play. The venue also has Two practice nets. The Cricket ground has flood lights for Night matches. Other facility includes an 9000 sq ft swimming pool,  an Indoor Sports hall, with 2 Lane Bowling Alley, Snooker, Table Tennis, Carrom Board & a Tennis Court on a Pay & Use Basis.</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock body %}
