{% extends 'groundbase.html' %}
{% block title %}footballground3{% endblock title %}
 
{% block body %}
<div class="container my-2" style="margin:0 auto;">
  <img src="static\playground3.jpg" class="img-fluid " alt="...">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Name: Rampage Football turf</h5>
      <h5 class="card-title">Address: Filmnagar,near tolichowki</h5>
      <a href="https://www.google.com/maps/dir/17.3904334,78.4410889/Rampage+Football+turf/@17.3993634,78.4113739,14z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3bcb96c4c8926e29:0xc0a5f03f50458d10!2m2!1d78.4176631!2d17.408295" target="true" class="btn btn-primary">Ground Location</a>
    </div>
  </div>
      <div class="container my-4" style="margin:0 auto;">
          <h1> Description</h1>
          Amongst the coolest place to play football in Hyderabad. It is 60x30 mts astro turf ground with flood lights to support night matches. It is located in Film Nagar, on the way to Tollichowki from Apollo hospital.
      </div>
</div>
{% endblock body %}

